@import url(http://fonts.googleapis.com/css?family=Roboto:100);

$ColorA: #cf67e0;
$ColorB: #423997;
$Highlight: #D26EF5;
$TranslucentPurple: rgba(210, 110, 245, 0.35);
$TranslucentPurple2: rgba(227, 172, 246, 0.9);

html, body {

  /* Text */
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 140px;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  /* Background Gradient */
  background-color: $ColorB;
  background-image: -moz-radial-gradient(100% 100%, ellipse farthest-side, $ColorA, $ColorB 130%);
  // background-image: -webkit-radial-gradient(100% 100%, ellipse farthest-side, $ColorA, $ColorB 130%);
  background-image: -o-radial-gradient(100% 100%, ellipse farthest-side, $ColorA, $ColorB 130%);
  background-image: -ms-radial-gradient(100% 100%, ellipse farthest-side, $ColorA, $ColorB 130%);
  background-image: radial-gradient(100% 100%, ellipse farthest-side, $ColorA, $ColorB 130%);
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.navigationMobile {
  display: none;
}

.navigation, .navigationMobile {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 9999;
  height: 200px;

  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

  &.shrink {
    height: 90px;
    background-color: rgba(38/100 * 7/10 * 255, 34/100 * 7/10 * 255, 67/100 * 7/10 * 255, 0.95);
    box-shadow: 0 2px 3px rgba(25, 20, 25, 0.15);

    h1 {
      font-size: 1em;
      margin-bottom: 0;
    }

    img {
      transform: scale(0.3);
      margin-bottom: -4em;
    }

    .dot {
      transform: scale(0.5);
    }
  }

  .logo {
    &.mindfund {
      width: 50px;
      height: 45px;
    }

    &.mindfundstudio {
      width: 63px;
      height: 45px;
    }
  }

  .icon-button {
    opacity: 0.3;

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    .dot {
      opacity: 0;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background-color: white;
      margin: 0 auto;
      margin-bottom: 12px;
    }

    &.selected {
      opacity: 1.0;
      .dot {
        opacity: 1.0;
      }
    }
  }

  img {
    transform-origin: top;
    transform: scale(1);

    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }

  h1 {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}

.hide {
  visibility: hidden;
}

header {

  padding-top: 20px;
  z-index: 999 !important;

  img {
    margin-bottom: 10px;
  }

  h1 {
    font-size: 2.2em;
  }
}

#projects, #investments {
  padding-top: 1.4em;
  padding-bottom: 7em;

  .logo {
    position: relative;
    display: inline-block;
  }

  img {
    height: 120px;

    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;

    &.bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h1 {
    font-size: 2.4em;
    margin-bottom: 2.2em;
  }

  .description {
    h1 {
      font-size: 1.2em;
      margin-bottom: 1.4em;
    }

    p {
      color: $TranslucentPurple2;
      line-height: 4px;
      margin-bottom: 1.6em;
    }
  }

  .investments {
    margin-bottom: 5em;
  }

  /* unvisited link */
  a:link {
      color: $Highlight;
  }

  /* visited link */
  a:visited {
      color: #7F6EF5;
  }

  /* mouse over link */
  a:hover {
      color: #FF4D9B;
  }

  /* selected link */
  a:active {
      color: #FF4D9B;
  }

  .project {

    h1 {
      margin-bottom: 0.5em;
    }

    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    &:hover {
      img {
        opacity: 0;
      }
      img.bg {
        opacity: 1;
      }
    }

    &.last {
      margin-bottom: 8em;
    }
  }

}

#sign-up {

  .left {
    text-align: left;
  }

  input[type=email] {
    display: inline-block;
    font-size: 1.4em;
    box-shadow: none;
    background-color: transparent;
    border-radius: 5px;
    border-color: $TranslucentPurple2;
    height: 60px;
  }

  input[type=submit] {
    display: inline-block;
    font-size: 1.4em;
    background-color: rgba(182, 19, 254, 0.18);
    padding: 0.5em 1.2em;
    color: white;
    border: 1px solid $TranslucentPurple2;
    border-radius: 5px;
    height: 60px;
  }

  ::-webkit-input-placeholder {
    color: $TranslucentPurple2;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $TranslucentPurple2;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $TranslucentPurple2;
  }

  :-ms-input-placeholder {
    color: $TranslucentPurple2;
  }

}

footer {
  color: $TranslucentPurple2;
  padding-top: 100px;
  padding-bottom: 30px;
}

.verticalLine {
    margin-left: 50%;
    border-left: 1px solid $TranslucentPurple;
    height: 320px;
}

/* Transitions */

main {
  position: relative;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#mindfund {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#mindfundstudio {
  position: absolute;
  left: 0;
  right: 0;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.hideLeft {
  left: -200% !important;
  z-index: -1 !important;
  opacity: 0;
}

.hideRight {
  right: -200% !important;
  opacity: 0;
}


/* Small screens */
@media only screen {

} /* Define mobile styles */

@media only screen and (max-width: 40em) {

  .navigation {
    display: none;
  }

  .navigationMobile {
    display: block;
    height: 66px;
    background-color: rgba(38/100 * 7/10 * 255, 34/100 * 7/10 * 255, 67/100 * 7/10 * 255, 0.95);
    box-shadow: 0 2px 3px rgba(25, 20, 25, 0.15);
    font-size: 0.8em;

    h1 {
      font-size: 0.9em;
    }

    .dot {
      width: 6px !important;
      height: 6px !important;
    }


    h1 {
      font-size: 1em;
      margin-bottom: 0;
    }

    img {
      margin-top: -3px;
      margin-bottom: -1px;
    }

    .dot {
      transform: scale(0.5);
    }

    .logo {
      &.mindfund {
        width: 25px;
        height: 22.5px;
      }

      &.mindfundstudio {
        width: 31.5px;
        height: 22.5px;
      }
    }
  }

  body {
    padding-top: 20px;
  }

  header {
    padding-top: 1em;

    h1 {
      font-size: 2.5em;
    }
  }

  #projects, #investments {

    h1 {
      font-size: 1.8em;
    }

    .verticalLine {
        border-left: 0;
    }

    .project {
      padding-bottom: 80px;
    }

    padding-bottom: 20px;
  }

  #sign-up {

    h1 {
      font-size: 1.6em;
      margin-bottom: 1.1em;
    }

    input[type=text] {
      padding: 1.2em;
      font-size: 1em;
    }

    input[type=submit] {
      display: inline-block;
      font-size: 1.1em;
      width: 80%;
      height: 54px;
    }
  }

  .smallHide {
    display: none;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) {

} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
