@import url(http://fonts.googleapis.com/css?family=Roboto:100);
html, body {
  /* Text */
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  /* Background Gradient */
  background-color: #423997;
  background-image: -moz-radial-gradient(100% 100%, ellipse farthest-side, #cf67e0, #423997 130%);
  background-image: -webkit-radial-gradient(100% 100%, ellipse farthest-side, #cf67e0, #423997 130%);
  background-image: -o-radial-gradient(100% 100%, ellipse farthest-side, #cf67e0, #423997 130%);
  background-image: -ms-radial-gradient(100% 100%, ellipse farthest-side, #cf67e0, #423997 130%);
  background-image: radial-gradient(100% 100%, ellipse farthest-side, #cf67e0, #423997 130%);
  background-attachment: fixed; }

h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'Roboto', sans-serif; }

header {
  padding-top: 10em;
  padding-bottom: 7em; }
  header img {
    margin-bottom: 10px; }
  header h1 {
    font-size: 3em; }

#projects {
  padding-bottom: 7em;
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */ }
  #projects img {
    height: 120px; }
  #projects h1 {
    font-size: 2.4em;
    margin-bottom: 1.3em; }
  #projects .description h1 {
    font-size: 1.2em;
    margin-bottom: 1.2em; }
  #projects .description p {
    color: rgba(227, 172, 246, 0.9);
    line-height: 4px;
    margin-bottom: 0.5em; }
  #projects a:link {
    color: #d26ef5; }
  #projects a:visited {
    color: #7F6EF5; }
  #projects a:hover {
    color: #FF4D9B; }
  #projects a:active {
    color: #FF4D9B; }
  #projects .project {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    #projects .project:hover {
      transform: scale(1.1, 1.1);
      z-index: 99; }

#sign-up input[type=text] {
  display: inline-block;
  padding: 1.2em;
  font-size: 1.4em;
  box-shadow: none;
  background-color: transparent;
  border-radius: 5px;
  border-color: rgba(227, 172, 246, 0.9);
  width: 80%;
  height: 60px; }
#sign-up input[type=submit] {
  display: inline-block;
  font-size: 1.4em;
  background-color: rgba(182, 19, 254, 0.18);
  padding: 0.5em 1.2em;
  color: white;
  border: 1px solid rgba(227, 172, 246, 0.9);
  border-radius: 5px;
  height: 60px; }
#sign-up ::-webkit-input-placeholder {
  color: rgba(227, 172, 246, 0.9); }
#sign-up :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(227, 172, 246, 0.9); }
#sign-up ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(227, 172, 246, 0.9); }
#sign-up :-ms-input-placeholder {
  color: rgba(227, 172, 246, 0.9); }

footer {
  color: rgba(227, 172, 246, 0.9);
  padding-top: 100px;
  padding-bottom: 30px; }

.verticalLine {
  margin-left: 50%;
  border-left: 1px solid rgba(210, 110, 245, 0.35);
  height: 320px; }

/* responsive style ----------------------------------------------------------------- */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10em;
    padding-bottom: 7em; }
    header h1 {
      font-size: 2.5em; }

  #projects {
    padding-bottom: 20px; }
    #projects h1 {
      font-size: 2.2em; }
    #projects .verticalLine {
      border-left: 0; }
    #projects .project {
      padding-bottom: 80px; }

  #sign-up h1 {
    font-size: 1.6em;
    margin-bottom: 1.1em; }
  #sign-up input[type=text] {
    padding: 1.2em;
    font-size: 1em; }
  #sign-up input[type=submit] {
    display: inline-block;
    font-size: 1.1em;
    width: 80%;
    height: 54px; } }
/* Extra Small Devices, Phones */
